__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*

venv/
.venv/

.git/
.gitignore

logs/

# Ignore these paths
Enhancements and Practice folder/
docs/
practice/
scripts/
tests/

# Ignore these files
requirements-dev.txt


